html, body { 
  margin: 0; 
  padding: 0; 
  background: black; 
  overflow: hidden;
}
html { box-sizing: border-box }
*, *::before, *::after { box-sizing: inherit }

.btn {
  position: fixed;
  top: 4px;
  background: transparent;
  outline: none;
  padding: 4px 18px;
  text-transform: uppercase;
  font-weight: bold;
  transition: color .4s;
  cursor: pointer;
}

.btn.active { color: #fff }

.btn-earth {
  left: 4px;
  color: #6b93d6;
  border: 2px solid #6b93d6;
}

.btn-space {
  left: 100px;
  color: #4d3b72;
  border: 2px solid #4d3b72;
}
